﻿/*#region Segoe UI */
@font-face {
  font-family: "SegoeUi";
  src: url("./fonts/segoe-ui.eot");
  src: url("./fonts/segoe-ui.eot?#iefix") format("embedded-opentype"),
    url("./fonts/segoe-ui.otf") format("opentype"),
    url("./fonts/segoe-ui.svg") format("svg"),
    url("./fonts/segoe-ui.ttf") format("truetype"),
    url("./fonts/segoe-ui.woff") format("woff"),
    url("./fonts/segoe-ui.woff2") format("woff2");
}
@font-face {
  font-family: "SegoeUi";
  src: url("./fonts/segoe-ui-bold.eot");
  src: url("./fonts/segoe-ui-bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/segoe-ui-bold.otf") format("opentype"),
    url("./fonts/segoe-ui-bold.svg") format("svg"),
    url("./fonts/segoe-ui-bold.ttf") format("truetype"),
    url("./fonts/segoe-ui-bold.woff") format("woff"),
    url("./fonts/segoe-ui-bold.woff2") format("woff2");
	font-weight: bold;
}
/*#endregion */

/*#region Gotham*/
@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Medium.eot");
  src: url("./fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Medium.otf") format("opentype"),
    url("./fonts/Gotham-Medium.svg") format("svg"),
    url("./fonts/Gotham-Medium.ttf") format("truetype"),
    url("./fonts/Gotham-Medium.woff") format("woff"),
    url("./fonts/Gotham-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Ultra.eot");
  src: url("./fonts/Gotham-Ultra.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Gotham-Ultra.otf") format("opentype"),
    url("./fonts/Gotham-Ultra.svg") format("svg"),
    url("./fonts/Gotham-Ultra.ttf") format("truetype"),
    url("./fonts/Gotham-Ultra.woff") format("woff"),
    url("./fonts/Gotham-Ultra.woff2") format("woff2");
	font-weight: bold;
}
/*#endregion */

/*#region VNF Lobster*/
@font-face {
  font-family: "Lobster";
  src: url("./fonts/VNF-Lobster.eot");
  src: url("./fonts/VNF-Lobster.eot?#iefix") format("embedded-opentype"),
    url("./fonts/VNF-Lobster.otf") format("opentype"),
    url("./fonts/VNF-Lobster.svg") format("svg"),
    url("./fonts/VNF-Lobster.ttf") format("truetype"),
    url("./fonts/VNF-Lobster.woff") format("woff"),
    url("./fonts/VNF-Lobster.woff2") format("woff2");
}
/*#endregion */