﻿/*#region phần khung ảnh tự căn vừa khung của Tất Thành - khungAnhCrop */
.imgcw{position:relative;z-index:1;
        &:before{content:"";display:block;padding-bottom:100%}

        .imgc,
        .imgc0{overflow:hidden;text-align:center;display:inline-block;position:absolute;z-index:1;top:0;left:0;width:100%;height:100%}
          
        .imgc0{font-size:0;
            &:before{content:"";display:inline-block;vertical-align:middle;width:0;height:100%}
            img{max-width:100%;max-height:100%;display:inline-block;vertical-align:middle}
        }
         
        .imgc{
            img{width:100%;height:100%;object-fit:cover}                      
        }
}
/*#endregion */
