﻿@import "bootstrap-4.2.1/scss/bootstrap";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "../js/slick-1.8.1/slick/slick.scss";

@import "font-face";
@import "variables";
@import "mixin";
@import "reset";
@import "image";
@import "bootstrap-edit";

// general
.general {
	&__sawtop {
		position: relative;
		&:after  {
			content: '';
			position: absolute;
			width: 100%;
			height: 7px;
			top: -7px;
			left: 0;
			background: url(images/dots.png) repeat-x;
			z-index: 99;
		}
		&.dark:after {
			background: url(images/dots-dark.png) repeat-x;
		}
	}
	&__title {
		position: relative;
		text-align: center;
		h2 {
			font-family: $font-secondary;
			font-size: 40px;
			color: $color-blue-primary;
			line-height: 20px;
			padding: 63px 0 15px;
		}
		p {
			margin: 0;
			padding-bottom: 25px;
			&.x { color: $color-gray-fofade; padding-bottom: 15px }
			&.dark { color: $color-gray-dark }
			&.wrap { max-width: 720px; margin: auto }
		}
	}
	&__social {
		a { color: #7a7a7a; font-size: 22px; padding-right: 12px }
	}
}

// khối header
.header {
	overflow: hidden;
	&__left {
		display: flex;
    align-items: center;
		.showmenu { display: none; color: $color-blue-primary; font-size: 26px }
		.logo { max-width: 83px; width: 100%; img { width: 100% } }
		.name {
			font-family: $font-tertiary;
			color: $color-blue-primary;
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
			padding-left: 18px;
			p { margin: 0; letter-spacing: -2px }
			h2 { 
				font-weight: bold; 
				color: $color-red-primary;
				font-size: 26px;
				text-transform: uppercase;
				margin-bottom: 0;
				span { color: $color-blue-primary } 
			}
			.decs {
				font-family: $font-primary;
				color: $color-red-primary;
				font-size: 15px;
				text-transform: none;
				letter-spacing: normal;
			}
		}
	}
	&__right {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		.top { 
			display: flex; 
			align-items: center;
			padding: 13px 0 14px;
			span { font-size: 20px; color: $color-red-primary; padding: 0 20px 0 5px }
			.search {
				position: relative;
				input	{ 
					border: none; 
					background-color: #e7e7e7; 
					padding: 7px 12px;
					border-radius: 3px;
				}
				a { position: absolute; top: 40%; transform: translateY(-40%); right: 10px }
			}
		}
		nav {
			background-color: $color-blue-fade;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			display: flex;
			& > a { display: block; padding: 7px 10px 7px 15px; line-height: 1 }
			& > ul {
				background-color: $color-blue-primary;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				margin: 0;
				padding-left: 10px;
				& > li {
					display: inline-block;
					position: relative;
					a { 
						display: block; 
						color: #fff; 
						text-transform: uppercase; 
						padding: 7px 22px;
						&:last-child { padding-right: 0 }
					}
				}
				.sub {
					&:after {
						content: '\f0d7';
						font-family: FontAwesome;
						position: absolute;
						top: 60%;
						transform: translateY(-60%);
						right: 10px;
						color: #fff;
						font-size: 12px;
					}
					& > ul {
						position: absolute;
						top: 39px;
						left: 0;
						opacity: 0;
						padding-left: 24px;
						transition: all .3s ease;
						visibility: hidden;
						transform: translateY(20px);
						z-index: 999;
						li { 
							background-color: $color-blue-primary; 
							border-bottom: 1px solid #f1f1f1; 
							min-width: 150px;
							border-radius: 3px;
							transition: all .3s ease;
							&:hover {
								background-color: #009cd6;
							}
							a { padding: 7px 12px; color: #fff }
						}
					}
					&:hover > ul {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}
			}
			.dash {
				position: relative;
				&:before {
					content: '';
					height: 38px;
					top: 0;
					left: 0;
					background-color: $color-blue-primary;
					width: 1000px;
					position: absolute;
				}
			}
		}
	}
}

// khối banner
.banner {
	background: url(pic/banner-01.jpg) no-repeat center;
	background-size: cover;
	min-height: 505px;
	display: flex;
	align-items: center;
	color: #fff;
	position: relative;
	&:after {
		content: '';
    height: 100%;
    width: 50%;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 174, 239, 1) 60%, rgba(0, 174, 239, .0));
    z-index: 0;
	}
	h2 { font-family: $font-secondary; font-size: 40px; line-height: 40px }
	a { border: 1px solid; border-radius: 22px; font-size: 14px; color: #fff; padding: 10px 15px }
}

// khối các điểm nổi bật
.hightlights {
	.item {
		display: flex;
		align-items: center;
		min-height: 84px;
		span {
			padding-left: 15px;
			color: $color-gray-primary;
			line-height: 18px;
		}
	}
}

// khối khóa học tại trung tâm
.course {
	background-color: #f7f7f7;
	padding-bottom: 40px;
	.item {
		.imgcw:before { padding-bottom: 51.801801801% }
	}
	&__slider {
		.slick-track { margin: 94px 0 102px }
		.slick-slide { transition: all .5s ease }
		.slick-dots {
			width: 100%;
			padding: 0;
			text-align: center;
			line-height: 1;
			margin: 16px 0 00;
			li {
				display: inline-block;
				margin: 0 1.2px;
				line-height: 1;
				&.slick-active button { border-color: #ccc }
				button {
					cursor: pointer;
					background-color: #ccc;
					border: 1px solid transparent;
					padding: 3px;
					background-clip: content-box;
					width: 19px;
					height: 19px;
					text-indent: -999999px;
					border-radius: 50%;
				}
			}
		}
		.item {
			border-radius: 5px;
			&.slick-center {
				transform: scale(2) translateY(20px);
				border-radius: 3px;
				z-index: 99;
				position: relative;
				img { border-top-left-radius: 3px; border-top-right-radius: 3px }
				.info {
					box-shadow: 0 0 10px 0 #e8e8e8;
					padding: 7px 18px;
					border-bottom-left-radius: 3px; 
					border-bottom-right-radius: 3px;
					h2 { color: $color-blue-primary; margin-bottom: 2px; font-size: 13px }
					p { font-size: 8px; margin-bottom: 4px; line-height: 12px; height: 24px; overflow: hidden }
				}
			}
			.info {
				background-color: #fff;
				padding: 22px 36px;
				border-bottom-left-radius: 5px; 
				border-bottom-right-radius: 5px;
				h2 {  font-size: 23px; font-weight: bold; line-height: 20px; margin-bottom: 12px }
				p { font-size: 14px; margin-bottom: 0; line-height: 22px; height: 66px; overflow: hidden }
			}
			img { border-top-left-radius: 5px; border-top-right-radius: 5px }
		}
	}
}

// khối đội ngũ huấn luyện viên
.coach {
	background: url(pic/bg-01.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	padding-bottom: 60px;
	&:before {
		content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
	}
	&__slider {
		max-width: 980px;
		margin: auto;
		width: 100%;
		.slick-list { padding: 15px 0; margin: 0 -10px }
		.slick-dots {
			width: 100%;
			padding: 0;
			text-align: center;
			line-height: 1;
			margin: 16px 0 00;
			li {
				display: inline-block;
				margin: 0 1.2px;
				line-height: 1;
				&.slick-active button { border-color: #fff }
				button {
					cursor: pointer;
					background-color: #fff;
					border: 1px solid transparent;
					padding: 3px;
					background-clip: content-box;
					width: 19px;
					height: 19px;
					text-indent: -999999px;
					border-radius: 50%;
				}
			}
		}
		.item {
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0 10px;
		.left {
			width: 100%;
			max-width: 40%;
			padding: 35px 60px 35px 40px;
			border: 1px dashed #959595;
			border-right: none;
			h2 { color: #fff; font-size: 26px; line-height: 26px; margin-bottom: 20px }
			p { color: $color-blue-primary; line-height: 22px }
		}
		.center {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 9999;
			transform: translate(-50%,-50%);
			width: 250px;
			height: 250px;
			border-radius: 50%;
			border: 10px solid #868686;
			a { border-radius: 50% }
		}
		.right { 
			color: #ccc;
			width: 100%;
			max-width: 40%;
			padding: 35px 3px 35px 72px;
			border: 1px dashed #959595;
			border-left: none;
			p {
				 margin: 0; 
				 line-height: 22px; 
				 height: 156px; 
				 overflow-x: hidden; 
				 padding-right: 12px; 
				 &::-webkit-scrollbar-track { background-color: transparent }
				 &::-webkit-scrollbar{ width: 6px; background-color: transparent }
				 &::-webkit-scrollbar-thumb { background-color: #949494 }
			}
		}
	}
	}
}

// khối cảm nhận về trung tâm
.reviews {
	background-color: #f5fafc;
	padding-bottom: 40px;
	.item {
		display: flex;
		border-radius: 3px;
		padding-top: 20px;
		padding-bottom: 6px;
		.left { max-width: 158px; width: 100%; img { border-top-left-radius: 3px; border-bottom-left-radius: 3px } }
		.right {
			background-color: #fff;
			padding: 18px 20px 0;
			line-height: 22px;
			h2 { font-size: 18px; margin-bottom: 3px }
			.parent { color: $color-gray-dark; font-size: 13px; margin-bottom: 8px }
			.text { a { color: $color-blue-primary; &:hover { color: $color-red-primary } } }
		}
	}
	.next {
		width: 100%;
		text-align: center;
		padding: 25px 0;
		a { 
			font-size: 14px; 
			color: $color-blue-primary; 
			padding: 6px 25px; 
			border: 1px solid $color-blue-primary;
			border-radius: 22px;
			margin: 0 10px;
			display: inline-block;
			transition: all .3s ease;
			&:hover { color: #fff; background-color: $color-blue-primary }
			&.active { color: #fff; background-color: $color-blue-primary }
		}
	}
}

// khối thông tin hữu ích
.info {
	padding-bottom: 50px;
	.left {
		position: relative;
		overflow: hidden;
		margin-bottom: 25px;
		.imgcw {
			img { border-radius: 5px }
			&:before { padding-bottom: 74.56% }
		}
		.info {
			padding: 20px 28px;
			text-align: center;
			z-index: 99;
			position: absolute;
			bottom: -20px;
			width: 80%;
			left: 50%;
			transform: translateX(-50%);
			background-color: #fff;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			a { 
				display: block; 
				margin-bottom: 10px; 
				font-size: 22px; 
				color: #333; 
				line-height: 28px; 
				&:hover { color: $color-blue-primary }
			}
			p { margin-bottom: 0; color: $color-gray-dark; line-height: 22px; height: 66px; overflow: hidden }
		}
	}
	.right {
		.item {
			display: flex;
			border-bottom: 1px dashed #e9e9e9;
			padding: 14px 0 15px;
			&:first-child { padding-top: 0 }
			&:last-child { padding-bottom: 0; border: none }
			.thumb { 
				width: 100%; 
				max-width: 182px;
				img { border-radius: 5px }
				.imgcw:before { padding-bottom: 67.03296% }
			}
			.info {
				padding: 0 10px 0 20px;
				& > a { 
					display: block; 
					font-size: 19px; 
					color: #000; 
					line-height: 26px; 
					margin-bottom: 15px; 
					transition: all .3s ease;
					&:hover { color: $color-blue-primary }
				}
				& > p { margin-bottom: 0; color: $color-gray-dark; line-height: 22px; height: 44px; overflow: hidden }
			}
		}
	}
	.next { 
		text-align: center;
		width: 100%;
		padding: 0 0 25px;
		a { 
			border-radius: 22px; 
			font-size: 14px; 
			color: #fff; 
			padding: 6px 20px; 
			display: inline-block;
			transition: all .3s ease;
			background-color: $color-blue-primary;
			border: 1px solid $color-blue-primary;
			&:hover { background-color: transparent; color: $color-blue-primary }
		}
	}
	.qc {
		padding-top: 25px;
		padding-bottom: 25px;
		& > .item {
			position: relative;
			border-radius: 5px;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0,0,0,.3);
				z-index: 9;
				border-radius: 5px;
			}
			.imgcw:before { padding-bottom: 24.853% }
			img { border-radius: 5px }
			.info {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 99;
				padding: 8px 25px;
				a { font-size: 20px; color: #fff; line-height: 30px }
				h2 { color: #fff; font-family: $font-secondary; font-size: 30px; line-height: 30px }
			}
		}
	}
}

// khối footer
.footer {
	background-color: #333;
	&__top {
		padding: 45px 0 60px;
		.title { 
			color: #fff; 
			font-family: $font-secondary; 
			font-size: 22px; 
			line-height: 24px; 
			margin-bottom: 25px;
		}
		.decs { 
			font-size: 14px; 
			color: #ccc; 
			line-height: 22px;
			margin-bottom: 40px;
			a { color: $color-blue-primary }
		}
		.social {
			padding: 0;
			display: flex;
			margin: 0 -3px;
			li {
				display: inline-block;
				padding: 3px;
				a { 
					display: block; 
					color: #fff; 
					font-size: 14px; 
					padding: 0; 
					width: 33px; 
					height: 33px; 
					display: flex;
					justify-content: center;
					align-items: center;
					border: 1px solid #444343;
					transition: all .3s ease;
					&:hover { background-color: $color-blue-primary }
				}
			}
		}
		.contact {
			padding: 0;
			li {
				text-align: center;
				border: 1px solid #444343;
				padding: 22px 10px 10px;
				color: #fff;
				margin-bottom: 29px;
				position: relative;
				i {
					position: absolute;
					top: -15px;
					left: 50%;
					transform: translateX(-50%);
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: #fff;
					color: $color-blue-primary;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 16px;
				}
				span { 
					font-size: 14px;
					&.big { font-size: 15px; font-weight: bold }
				}
			}
		}
	}
	&__bottom {
		background-color: #282828;
		span { line-height: 40px; color: #999 }
		img { padding: 0 5px 0 13px; position: relative; top: -1px }
	}
}

// khối stick
.stick {
	position: fixed;
	bottom: 0;
	right: 2px;
	display: flex;
	z-index: 999999999999;
	a { margin-right: 1px }
}