﻿@media only screen and (max-width: 1199px) {
  .header__left .logo {
    max-width: 70px; }
  .header__left .name {
    padding-left: 15px; }
    .header__left .name p {
      font-size: 13px; }
  .header__right .top {
    padding: 10px 0; }
    .header__right .top span {
      font-size: 13px; }
  .header__right nav ul {
    padding-left: 0; }
    .header__right nav ul .sub:after {
      right: 0; }
    .header__right nav ul li a {
      padding: 7px 16px;
      font-size: 12px; }
  .info .qc {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media only screen and (max-width: 991px) {
  .header__left .name {
    display: none; }
  .course__slider .slick-track {
    margin: 0; }
  .course__slider .slick-list {
    margin: 0 -10px; }
  .course__slider .item {
    padding: 0 10px; }
  .coach__slider .item .left {
    max-width: 35%; }
  .coach__slider .item .right {
    max-width: 35%; }
  .banner:after {
    width: 70%;
    background-image: linear-gradient(to right, #00aeef 40%, rgba(0, 174, 239, 0)); } }

@media only screen and (max-width: 767px) {
  .general__title h2 {
    line-height: 40px;
    font-size: 30px; }
  .banner:after {
    width: 100%;
    background-image: linear-gradient(to right, #00aeef 5%, rgba(0, 174, 239, 0)); }
  .reviews .next a {
    margin: 10px 0; }
  .info .next {
    padding-top: 25px; }
  .footer__top .social {
    margin-bottom: 30px; }
  .info .qc > .item .info a {
    font-size: 12px; }
  .info .qc > .item .info h2 {
    font-size: 18px; }
  .footer__bottom {
    padding: 15px 0; }
  .footer__bottom span {
    line-height: 25px; }
  .course__slider .item .info {
    padding: 15px 20px; }
  .coach__slider .item {
    justify-content: center;
    flex-direction: column; }
    .coach__slider .item .left {
      max-width: 100%;
      border-right: 1px dashed #959595;
      border-bottom: none;
      padding: 30px 30px 80px; }
    .coach__slider .item .center {
      top: 46%; }
    .coach__slider .item .right {
      max-width: 100%;
      margin-top: 100px;
      border-left: 1px dashed #959595;
      border-top: none;
      padding: 80px 30px 30px; }
  .header__left {
    justify-content: space-between;
    padding-right: 0; }
    .header__left .showmenu {
      display: inline-block; }
  .header__right .top {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%; }
    .header__right .top img {
      display: none; }
    .header__right .top span {
      margin-top: 10px;
      padding: 0;
      font-size: .68rem; }
    .header__right .top input {
      width: 100%; }
    .header__right .top .search {
      width: 100%; }
  .header__right nav {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 300px;
    top: 0;
    left: -300px; }
    .header__right nav .dash {
      display: none; } }
