﻿// khai báo font-family cho toàn trang
$font-primary: 'SegoeUi';
$font-secondary: 'Lobster';
$font-tertiary: 'Gotham';

// khai báo color cho toàn trang
$color-blue-primary: #00aeef;
$color-blue-fade: #1dbffc;
$color-red-primary: #ed1c24;
$color-gray-primary: #6e6e6e;
$color-gray-dark: #666;
$color-gray-fofade: #a49f9f;
